table.t1{
    border:1px solid #cad9ea;
    color:#666;
}
table.t1 th {
    background-image: url(th_bg1.gif);
    background-repeat::repeat-x;
    height:30px;
}
table.t1 td,table.t1 th{
    border:1px solid #cad9ea;
    padding:0 1em 0;
}
table.t1 tr.a1{
    background-color:#f5fafe;
}

table.t2{
    border:1px solid #cad9ea;
    color:#666;
}
table.t2 th {
    background-image: url(th_bg1.gif);
    background-repeat::repeat-x;
    height:30px;
}
table.t2 td,table.t1 th{
    border:1px solid #cad9ea;
    padding:0 1em 0;
}
table.t2 tr.a1{
    background-color:#f5fafe;
}